.content {
    position: relative;
    width: calc(100% - 300px);
    height: calc(100vh - 60px);
    background-color: #ecedff;
    float: right;

    &::after {
        content: '';
        clear: both;
        display: block;
    }
}