.menu {
    position: relative;
    width: $menu-width;
    height: calc(100vh - #{$header-height} - #{$footer-height});
    background-color: #efffe3;
    float: left;

    &::after {
        content: '';
        clear: both;
        display: block;
    }
}
